*{
    box-sizing: border-box;
}
body,header,.main{
    position: relative;

    display:flex;
    align-items: center;
}
::-webkit-scrollbar{
    display: none;
}
header{
    height: 89px;
    position:absolute;
    top: 0;
    left: 0;
    padding-left: 80px;
   
}
.container,.main,header{
    width: 100%;
}
.azul-fashion{
    background-color: #404EED;
}
.box-left{
    background-color:  #FFFFFF;
}
.box-fashion,.box-left{
   
    width:50%;
    height:785px;
    margin-top: 89px;
    
}
.box-left{
    flex-direction: column;
    
}
.img-fashion{
    height: 90%;
    width:auto;

}
h1{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    font-size:18px;
    line-height:21.09px;
    color:#232323;
    
}
.icone{
    height: auto;
    width: 80px;
    position: absolute;
}
.img-tecido{
    height: 60px;
    width: auto;
}
.opcao{
    width:100px;
    height: 100px;
    background-color: #F2F2F2;
    border-radius: 50px;
    border: solid 0.5px #C4C4C4;
    position: relative;
}
.selecionado{
    border: solid 3px #404EED;
    border-radius: 50px;  
    position: relative;
}
.botoes,.box-opcao,.opcao,.box-fashion,.box-left, .pedidos-box,footer, .main-footer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-opcao{
    flex-direction: column;

}
.modelo,.gola,.tecido{
    display: flex;
    height: 130px;
    width:400px;
    align-items: center;
    justify-content: space-around;
}
.box-modelo,.botoes{
    margin-top: 10px;
    margin-bottom: 10px;
    flex-direction: column;
    
}
button:hover{
    cursor:not-allowed;
    
}
.botoes{
   
    height: 150px;
    width: 400px;
    justify-content: space-around;
}
.texto-botoes{
   
    width: 396.27px;
}
button,input{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight:400;
    font-size:20px;
    line-height:23.44px;
    color:#FCFCFC;
    background-color: #C4C4C4;
    border-radius: 10px;
    border:none;
    width:396.27px;
    height:40px;
}
.habilitado{
    background-color: #404EED;
}
.habilitado:hover{
    cursor:pointer;
}
input{
   color:#818181;
   background-color: #F2F2F2;
   padding:16px;
   font-size:14px;
}
footer{
    height:342px;
    width: 100%;
    flex-direction: column;
 
    margin-left: 0;
    bottom: 0;
    background-color:  #F2F2F2;
}
.pedidos-box{
    width:201.69px;
    height:236.47px;
    border-radius:10px;
    background-color: #FFFFFF;
    margin-left: 40px;
    flex-direction: column;
    
}
.camiseta-ultimo{
    height:180px;
    width:180px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;

}
.main-footer{
    width: 1200px;
    justify-content: space-between;
   overflow: scroll;
}
::-webkit-scrollbar{
    display: none;
}
.texto-footer{

   width: 1150px;
   height: 40px;
   font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight:400;
    font-size:24px;
    line-height:28.13px;
    color:#232323;

}
p{
    font-size:20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    line-height: 23.44px;
    font:normal;
}

